<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#000000" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📃</text></svg>"/>
        <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
        <!-- TEMPLATE META TAGS -->
        <title>__TITLE__</title>
        <meta name="title" content="__TITLE__" />
        <meta name="description" content="__DESCRIPTION__" />
        <meta name="author" content="__NAME__">

        <meta name="keywords" content="__KEYWORDS__">

        <meta property="og:title" content="__TITLE__" />
        <meta property="og:url" content="__URL__"/>
        <meta property="og:description" content="__DESCRIPTION__"/>
        <meta property="og:image" content="__IMAGE__"/>

        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="__TITLE__"/>
        <meta name="twitter:description" content="__DESCRIPTION__"/>
        <meta name="twitter:image" content="__IMAGE__"/>
        <!---->
        <!-- Use stylesheet so we don't bloat the export with the entirety of fab. Used for the cover's social box's dynamic icons. -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/fontawesome.min.css" integrity="sha512-M5Kq4YVQrjg5c2wsZSn27Dkfm/2ALfxmun0vUE3mPiJyK53hQBHYCVAtvMYEC7ZXmYLg8DVG4tF8gD27WmDbsg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/brands.min.css" integrity="sha512-WxpJXPm/Is1a/dzEdhdaoajpgizHQimaLGL/QqUIAjIihlQqlPQb1V9vkGs9+VzXD7rgI6O+UsSKl4u5K36Ydw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <noscript>
            __NOSCRIPT__
        </noscript>
        <div id="root"></div>
        <script type="module" src="/src/main.tsx"></script>
    </body>
</html>
