body {
    position: relative;
    background-color: rgb(41, 41, 41);
}

#pageContainer {
    display: flex;
    flex-direction: row;
}

#sidebarContainer {
    display: flex;
    width: 25px;
    height: 98vh;
    background-color: rgb(66, 66, 66);
    margin-right: 5vw;
    position: fixed;
}

#pageContent {
    height: 200vh;
}

#sidebarContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#sidebarContent button {
    margin-top: 10px;
    margin-bottom: 10px;
}