.container {
    padding-bottom: 10px;
    border-bottom: solid 2px var(--border-color);
}

.container p {
    margin-top: 13px;
    margin-bottom: 0px;;
}

.builtWithText {
    color: var(--text-secondary);
    margin-bottom: 10px;
}