.container {
    border-bottom: solid 2px var(--border-color);
}

.container a {
    transition: color 0.15s;
    text-decoration: none;
}

.container a:hover {
    color: var(--url-fade);
    transition: color 0.15s;
}

.builtWithText {
    color: var(--text-secondary);
}