#Page {
    display: flex;
    flex-direction: column;
    padding: 28px;
    gap: 28px;
    justify-content: stretch;
    align-content: stretch;
    transition: 0.5s;
}

#PageContent {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: stretch;
    align-content: stretch;
}


/*For mobile*/
@media screen and (orientation:portrait) {
    #Page {
        padding: 28px 12px 28px 12px;
        transition: 0.5s;
    }
}
